<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ryannitz.covidupdates">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_virus"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data android:name="com.ryannitz.covidupdates"
            android:resource="@drawable/ic_stat_name"
            />

        <activity android:name="com.ryannitz.covidupdates.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- registering the receiver -->
        <receiver
            android:name="com.ryannitz.covidupdates.MyAlarm"
            android:enabled="true"
            android:exported="true" />

        <!-- facebook
        <meta-data android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"/>

        <activity android:name="com.facebook.FacebookActivity"
            android:configChanges=
                "keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
        -->
    </application>
    <uses-permission android:name="android.permission.INTERNET"/>
</manifest>